#paperStyles {
    min-height: 100vh;
    background-image: url(../img/bedroom_background.png);
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    filter: blur(6px); 
}

#introStyles {
    position: absolute;
    top: 7.5%;
    left: 12.5%;
    width: 75%;
    height: 75%;
    border: 5px outset white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #536872;
    font-family: Baskerville;
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 6px;
    line-height: 2;
}

#continueButtonStyles {
    position: absolute;
    height: 10%;
    width: 15%;
    top: 87.5%;
    left: 42.5%;
    color: #536872;
    border: 5px outset #536872;
    border-radius: 10px;
    background-color: white;
    font-family: Baskerville;
    font-size: 25px;
    font-weight: bold;
}

#continueButtonStyles:hover {
    background-color: #536872;
    border: 5px outset white;
    color: white;
}

#startButtonStyles {
    position: absolute;
    height: 10%;
    width: 15%;
    top: 87.5%;
    left: 42.5%;
    color: white;
    border: 5px outset white;
    border-radius: 10px;
    background-color: #536872;
    font-family: Baskerville;
    font-size: 25px;
    font-weight: bold;
    display: none;
}

#startButtonStyles:hover {
    background-color: white;
    border: 5px outset #536872;
    color: #536872;
}


#backButtonStyles {
    position: absolute;
    height: 7.5%;
    width: 4.5%;
    top: 88.75%;
    left: 12.5%;
    color: white;
    border: 5px outset white;
    border-radius: 10px;
    background-color: #536872;
    font-family: Baskerville;
    font-size: 25px;
    font-weight: bold;
    display: none;
}

#backButtonStyles:hover {
    background-color: white;
    border: 5px outset #536872;
    color: #536872;
}

#volumeButtonStyles {
    position: absolute;
    height: 60px;
    width: 60px;
    top: 90%;
    left: 1%;
    color: white;
    border: 5px outset white;
    border-radius: 10px;
    background-color: #536872;
    font-family: Baskerville;
    align-items: center;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    display: none;
}

#infoButtonStyles {
    position: absolute;
    height: 35px;
    width: 35px;     
    top: 1.5%;
    left: 48.5%;
    color: #536872;
    align-items: center;
    display: none;
}

#infoCardStyles {
    position: absolute;
    top: 7.5%;
    left: 25%;
    width: 50%;
    height: 75%;
    border: 5px outset white;
    border-radius: 20px;
    display: none;
    flex-direction: column;
    color: #536872;
    background-color: white;
    font-family: Baskerville;
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 6px;
    line-height: 2
}

#infoCloseStyles {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 7.5%;
    left: 18.75%;
    color: white;
    border: 5px outset white;
    border-radius: 10px;
    background-color: #536872;
    font-family: Baskerville;
    align-items: center;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    display: none;
}

#infoCloseStyles:hover {
    background-color: white;
    border: 5px outset #536872;
    color: #536872;
}


#questionStyles {
    width: 750px;
    top: 10%;
    left: 25%;
    height: 120px;
    position: absolute;
    border-radius: 10px;
    border: 5px outset white;
    background-color: white;
    text-align: center;
    color: #536872;
    font-family: Baskerville;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 6px;
    line-height: 120px;
    flex-direction: column;
    margin: auto;
    vertical-align: middle;
    

}

#dataStyles {
    width: 35%;
    top: 0.5%;
    left: 0%;
    position: fixed;
    display: none;
}

#dataLabelStyles {
    top: 6%;
    left: 0%;
    position: fixed;
    width: 8%;
    height: 30px;
    font-size: medium;
    border: 2px outset white;
    display: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
    vertical-align: middle;
    background-color: #66DA81;
    font-family: Baskerville;
    font-weight: bold;
    line-height: 1.6;
    color: white;
}

#popStyles {
    width: 35%;
    top: 0.5%;
    left: 67%;
    position: fixed;
    transform: rotate(180deg);
    display: none;
}

#popLabelStyles {
    top: 6%;
    left: 90%;
    position: fixed;
    width: 10%;
    height: 30px;
    font-size: medium;
    border: 2px outset white;
    display: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
    vertical-align: middle;
    background-color: #66DA81;
    font-family: Baskerville;
    font-weight: bold;
    line-height: 1.6;
    color: white;
}

#secondStyles {
    width: 25%;
    height: 30%;
    top: 35%;
    left: 62.5%;
    border: 5px outset white;
    position: fixed;
    border-radius: 10px;
    background-color: #536872;
    color: white;
    font-family: Baskerville;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 6px;
    line-height: 1.5;
    display: none;
}

#firstStyles {
    width: 25%;
    height: 30%;
    top: 35%;
    left: 12.5%;
    border: 5px outset white;
    position: fixed;
    border-radius: 10px;
    background-color: #536872;
    text-align: center;
    color: white;
    font-family: Baskerville;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 6px;
    line-height: 1.5;
    display: none;
}

#choiceStyles {
    width: 35%;                                                                 
    top: 10%;                                   
    left: 32.5%;                                    
    height: 8%;                                 
    position: absolute;    
    border: 5px outset white;                             
    border-radius: 10px;                                    
    background-color: white;                                    
    text-align: center;                                 
    color: #536872;                                 
    font-family: Baskerville;                                   
    font-size: 35px;                                    
    font-weight: bold;                                  
    letter-spacing: 6px;                                    
    line-height: 1.65;                                   
    flex-direction: column;                                 
    display: none;                                  
}

#choiceCardStyles {
    width: 25%;                                                                  
    height: 30%;                             
    top: 35%;                             
    left: 37.5%;                             
    border: 5px outset white;                             
    position: absolute;                             
    border-radius: 10px;                             
    background-color: #536872;                             
    text-align: center;  
    align-items: center;
    flex-direction: column;  
    /* vertical-align: middle;                          */
    color: white;                             
    font-family: Baskerville;                             
    font-size: 35px;                             
    font-weight: bold;                             
    letter-spacing: 6px;                             
    /* line-height: 4.0;                              */
    display: none;                             
}

#nextButtonStyles {
    position: absolute;
    height: 10%;
    width: 15%;
    top: 87.5%;
    left: 42.5%;
    color: #536872;
    border: 5px outset #536872;
    border-radius: 10px;
    background-color: white;
    font-family: Baskerville;
    font-size: 25px;
    font-weight: bold;
    display: none;
}

#nextButtonStyles:hover {
    background-color: #536872;
    border: 5px outset white;
    color: white;
}

#imagePaperStyles {
    min-height: 20vh;
    /* background-image: url(../img/bedroom_background.png); */
    /* background-repeat: no-repeat; /* Do not repeat the image */
    /* background-size: cover; */ 
}

