.introStyles {
    position: 'absolute';
    top: '10%';
    left: '12.5%';
    width: '75%';
    height: '75%';
    border: '1px solid white';
    border-radius: '20px';
    display: 'flex';
    flex-direction: 'column';
    color: 'white';
    background-color: '#536872';
    font-family: 'Baskerville';
    font-size: '35px';
    font-weight: 'bold';
    text-align: 'center';
    letter-spacing: '6px';
    line-height: '2'
}